<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="header">
    <div class="left">
        <img class="logo" id="image" src="{{url_for('static', filename='logo_trans.png')}}" alt="logo" width="85px" height="85px">
        <div class="center">
            <h1>HA Weather</h1>
        </div>
    </div>
    <div class="right">
        <button id="toggle" class="toggle" onclick="dark_light()">Toggle Mode</button>
{% if current_user.is_authenticated %}
        <a href="{{url_for('logout')}}"><button class="l_button">Logout</button></a>
        {% else %}
        <a href="{{url_for('register')}}"><button class="l_button">Register</button></a>
        <a href="{{url_for('login')}}"><button class="r_button">Login</button></a>
        {% endif %}
        <a href="javascript:void(0);" onclick="settings()"><img class="avatar" src="{{url_for('static', filename='login_logo.png')}}" alt="avatar" width="80px" height="80px"></a>
    </div>
</div>
    <ul>
  <li><a href="{{url_for('homepage')}}">Home</a></li>
        {% if current_user.is_authenticated %}
  <li><a class="active" href="{{ url_for('dashboard') }}">Dashboard</a></li>
        {% else %}
  <li><a href="{{ url_for('login') }}">Dashboard</a></li>
        {% endif %}
  <li><a href="{{ url_for('weather_search') }}">Weather Search</a></li>
  <li><a href="{{ url_for('info') }}">Health Information</a></li>
  <li><a href="#about">About</a></li>
</ul>

{% if current_user.is_authenticated %}
        <div class="upnav">
  <div id="myLinks">
    <a class="nohov" href="#blank">Settings</a>
    <a href="#contact">Change Info</a>
    <a href="{{ url_for('user_info') }}">View My Info</a>
  </div>
    <i class="fa fa-bars"></i>
  </a>
</div>
{% endif %}

<!--BMI-->
<div class="content_div">
    <div class="l_cont_box">
        <h4>Body Mass Index Calculator</h4>
        <p>Enter your height (m): <input type="text" id="height"/>
        </p>
        <p>Enter your weight (kg): <input type="text" id="weight"/>
        </p>
        <input type="submit" value="Calculate BMI" onclick="computeBMI();">
        <h4>Your BMI is: <span id="output">?</span></h4>
        <h4>This means you are: <span id="comment"> ?</span> </h4>
    </div>
    <div class="r_content">
        <h4>Air quality information</h4>
        <p>Your City: <strong>{{city}}</strong></p>
        <p>Carbon Monoxide Levels: </p>
    </div>
    <button><a href="{{url_for('graph')}}">Graph1</a></button>
</div>

<script src="{{url_for('static', filename='homepage.js')}}"></script>
<script src="{{url_for('static', filename='dashboard.js')}}"></script>
</body>
</html>